name: CI for Python Lambda (Main)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-lint-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required for SonarCloud

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install dependencies
        run: pip install pymssql requests ruff
          
      - name: Lint with Ruff
        continue-on-error: true
        run: |
          # Updated to also ignore F821 (Undefined name)
          ruff check . --ignore E402 --ignore F821
          
      - name: SonarCloud Scan
        continue-on-error: true
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
